body {
  margin: auto;
}

.container {
  display: block;
position: absolute;
align-items: center;
justify-content: center;

border: solid 4px;
  margin: 60px 0 60px ;
  left: 30%;

}

.gallery {
  display: block;
position: relative;
width: 40%;
justify-content: center;
align-items: center;
}

.gal-item {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;

}

 .gal-item img {
   display: block;
   position: relative;
  width: 300px;
  margin: auto;
}
